<!-- Footer-->
<footer class="main-footer">
  <!-- Services block-->

  <!-- Main block - menus, subscribe form-->
  <div class="py-6 bg-body-tertiary text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div
            class="fw-bold h3 text-lg text-dark mb-3 text-decoration-underline"
          >
            <img class="logo" src="/img/E-Shopee_logo.png" alt="" />
          </div>
          <p>"Step into Style, Stride with Confidence!"</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a
                class="text-muted text-primary-hover"
                href="#"
                target="_blank"
                title="twitter"
                ><i class="bi bi-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-primary-hover"
                href="#"
                target="_blank"
                title="facebook"
                ><i class="bi bi-facebook"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-primary-hover"
                href="#"
                target="_blank"
                title="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-primary-hover"
                href="#"
                target="_blank"
                title="pinterest"
                ><i class="bi bi-pinterest"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-primary-hover"
                href="#"
                target="_blank"
                title="vimeo"
                ><i class="bi bi-vimeo"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Shop</h6>
          <ul class="list-unstyled">
            <!-- <li> <a class="text-muted" href="#">For Women</a></li>
                        <li> <a class="text-muted" href="#">For Men</a></li> -->
            <li><a class="text-muted" href="/about">About</a></li>
            <li><a class="text-muted" href="/contact">Contact us</a></li>
            <li><a class="text-muted" href="/shop">Shop</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Account</h6>
          <ul class="list-unstyled">
            <li><a class="text-muted" href="/login">Login </a></li>
            <li><a class="text-muted" href="/register">Register </a></li>
            <li><a class="text-muted" href="/user/wishlist">Wishlist </a></li>
            <li><a class="text-muted" href="/shop">Our Products </a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h6 class="text-uppercase text-dark mb-3">NEWSLETTER</h6>
          <form action="#" id="newsletter-form">
            <div class="input-group mb-3">
              <input
                id="newsletter-email"
                autocomplete="false"
                class="form-control bg-transparent border-secondary border-end-0"
                type="email"
                placeholder="Your Email Address"
                aria-label="Your Email Address"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary border-start-0"
                  type="submit"
                >
                  <i class="bi bi-send-fill h5 text-warning"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section of the footer-->
  <div class="py-4 fw-light bg-gray-800 text-gray-300 md-0">
    <div class="container">
      <div class="col-md-12">
        <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-center">
          <li class="list-inline-item">
            <img
              class="w-2rem"
              src="https://demo.bootstrapious.com/sell/2-0-1/img/visa.svg"
              alt="..."
            />
          </li>
          <li class="list-inline-item">
            <img
              class="w-2rem"
              src="https://demo.bootstrapious.com/sell/2-0-1/img/mastercard.svg"
              alt="..."
            />
          </li>
          <li class="list-inline-item">
            <img
              class="w-2rem"
              src="https://demo.bootstrapious.com/sell/2-0-1/img/paypal.svg"
              alt="..."
            />
          </li>
          <li class="list-inline-item">
            <img
              class="w-2rem"
              src="https://demo.bootstrapious.com/sell/2-0-1/img/western-union.svg"
              alt="..."
            />
          </li>
        </ul>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 text-center text-md-center">
          <p class="mb-md-0">&copy; 2024 All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer end-->
