<nav
  id="sidebarMenu"
  class="col-sm-2 col-md-2 col-lg-2 d-md-block sidebar collapse text-bg-light"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="/admin">
          <!-- <span data-feather="home"></span> -->
          <i class="bi bi-house text-warning"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="/admin/banners/">
          <i class="bi bi-card-image text-warning"></i>
          <!-- <span data-feather="users"></span> -->
          Banners
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="/admin/users/">
          <i class="bi bi-people text-warning"></i>
          <!-- <span data-feather="users"></span> -->
          Users
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link fs-5 text-white bg-secondary"
          href="/admin/attributes/"
        >
          <i class="bi bi-paperclip text-warning"></i>
          <!-- <span data-feather="attribute"></span> -->
          Attributes
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link fs-5 text-white bg-secondary"
          href="/admin/category/"
        >
          <i class="bi bi-tag text-warning"></i>
          Categories
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link fs-5 text-white bg-secondary"
          href="/admin/products/"
        >
          <i class="bi bi-box text-warning"></i>
          Products
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="/admin/orders/">
          <i class="bi bi-table text-warning"></i>
          <!-- <span data-feather="file"></span> -->
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link fs-5 text-white bg-secondary"
          href="/admin/category-offers/"
        >
          <i class="bi bi-cash-coin text-warning"></i>
          <!-- <span data-feather="file"></span> -->
          Category Offers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="/admin/Coupons/">
          <i class="bi bi-cash-stack text-warning"></i>
          <!-- <span data-feather="file"></span> -->
          Coupons
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="#">
          <i class="bi bi-bell text-warning"></i>
          <!-- <span data-feather="file"></span> -->
          Returns
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fs-5 text-white bg-secondary" href="#">
          <i class="bi bi-journal text-warning"></i>
          <span data-feather="bar-chart-2"></span>
          Reports
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fs-5 text-warning bg-secondary" href="/admin/logout"
          >Sign out
        </a>
      </li>
      <!-- <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li> -->
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul> -->
  </div>
</nav>
